---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Ryan Jarvis the Burton Nonce!</h1>
			<p>
				<img src="https://i.imgur.com/p40p735.png" width="500" height="600">
			</p>
			<p>
				Prolific Peadophile with in Burton upon Trent with ties to derby full addresses, work places, numbers everything coming soon!!
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Coming Soon!</code></li>
				<li>Coming Soon!</code></li>
				<li>Coming Soon!</code></li>
				<li>Coming Soon!</code></li>
				<li>Coming Soon!</code></li>
			</ul>
			<p>
				Coming Soon!
			</p>
		</main>
		<Footer />
	</body>
</html>
